<!-- habits/templates/habits/category.html -->

{% extends 'website/base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}

<div class="container p-2">

    {% include "habits/navbar.html" %}

    <div class="d-flex flex-row p-2 justify-content-between">
        <h1>Categories</h1>
        <button type="button" class="btn btn-custom btn-sm m-1" data-bs-toggle="modal" data-bs-target="#CategoryModal">
            <i class="fa-solid fa-plus"></i> Category
        </button>
    </div>

    <!-- Modal Category-->
    <div class="modal fade" id="CategoryModal" tabindex="-1" aria-labelledby="CategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CategoryModalLabel">Create new category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
            </div>
            <div class="modal-body">
                <!-- Form per la creazione di una nuova categoria -->
                <div class="d-flex justify-content-center flex-column m-3 mt-5 p-3 bg-custom rounded">
                    <form action="{% url 'habits:create_category' %}" method="post">
                        {% csrf_token %}
                        {{ category_form.as_p }}
                        <button type="submit" class="btn btn-custom btn-sm mx-auto d-block">Create</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Visualizzazione delle categorie -->
    <ul class="list-group p-2">
        {% for category, edit_category_form in category_form_dict.items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="row">
                    <i class="col mt-2 {{ category.icon }}"></i>
                    <span class="col fs-5">{{ category.name }}</span>
                    <span class="col ms-2" style="width:30px; height: 30px; background-color:{{category.color}}; display: inline-block;"></span>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-custom btn-sm" data-bs-toggle="collapse" data-bs-target="#editForm-{{ category.id }}">Modify</button>
                    <form action="{% url 'habits:delete_category' category.id %}" method="post" class="ms-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            <div id="editForm-{{ category.id }}" class="collapse m-2 p-1 bg-custom">
                <h6>Modify Category</h6>
                <form action="{% url 'habits:edit_category' category.id %}" method="post">
                    {% csrf_token %}
                    {{ edit_category_form.as_p }} {# Utilizzo il form di modifica corrispondente alla categoria #}
                    <button type="submit" class="btn btn-custom btn-sm">Save</button>
                </form>
            </div>
        {% endfor %}
    </ul>


</div>
{% endblock %}
