<!-- habits/templates/habits/habitevent.html -->

{% extends 'website/base.html' %}

{% block content %}
<div class="container">
    <h1>Eventi di Abitudine</h1>

    <!-- Visualizzazione degli eventi di abitudine -->
    <ul>
        {% for event in habit_events %}
            <li>
                {{ event.habit.name }} - {{ event.date }}
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#editForm-{{ event.id }}">Modifica</button>
                <div id="editForm-{{ event.id }}" class="collapse">
                    <h2>Modifica Evento di Abitudine</h2>
                    <form action="{% url 'habits:edit_habit_event' event.id %}" method="post">
                        {% csrf_token %}
                        {{ edit_habit_event_form.as_p }}
                        <button type="submit" class="btn btn-primary">Salva Modifiche</button>
                    </form>
                </div>
                <form action="{% url 'habits:delete_habit_event' event.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <!-- Form per la creazione di un nuovo evento di abitudine -->
    <h2>Crea Nuovo Evento di Abitudine</h2>
    <form action="{% url 'habits:create_habit_event' %}" method="post">
        {% csrf_token %}
        {{ create_habit_event_form.as_p }}
        <button type="submit" class="btn btn-success">Crea</button>
    </form>
</div>
{% endblock %}
