<!-- habits/templates/habits/habit.html -->

{% extends 'website/base.html' %}

{% block title %}Habits{% endblock title %}

{% block content %}
<div class="container">
    <div class="d-flex flex-row justify-content-around">
        <h1>Habits</h1>
        <a href="{% url 'habits:overview' %}" class="btn btn-outline-primary m-2">Overview</a>
    </div>
    <!-- Visualizzazione delle abitudini -->
    <ul>
        {% for habit, edit_habit_form in habit_form_dict.items %}
            <li class="d-flex flex-row justify-content-around">
                
                <span class="mx-2 flex-grow-1 fs-3 bold">{{ habit.name }}</span>
                <div class="m-2" style="width:30px; background-color:{{habit.color}};"></div>
                <button type="button" class="m-1 btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#editForm-{{ habit.id }}">Modify</button>
                
                <form action="{% url 'habits:delete_habit' habit.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="m-1 btn btn-danger">Delete</button>
                </form>
            </li>
            <div id="editForm-{{ habit.id }}" class="collapse">
                <h6>Modify Habit</h6>
                <form action="{% url 'habits:edit_habit' habit.id %}" method="post">
                    {% csrf_token %}
                    {{ edit_habit_form.as_p }} {# Utilizzo il form di modifica corrispondente all'abitudine #}
                    <button type="submit" class="m-1 btn btn-outline-primary">Save</button>
                </form>
            </div>
            <hr class="my-1">
        {% endfor %}
        
    </ul>
    <!-- Form per la creazione di una nuova abitudine -->
    <h4>Create new habit</h4>
    <form action="{% url 'habits:create_habit' %}" method="post">
        {% csrf_token %}
        {{ habit_form.as_p }}
        <button type="submit" class="btn btn-outline-success">Create</button>
    </form>
</div>
{% endblock %}
