<!-- habits/templates/habits/habit_event.html -->

{% extends 'website/base.html' %}

{% block title %}Habit Events{% endblock title %}

{% block content %}
<style>

    /* Stile personalizzato per il colore arancione del bottone */
    .btn-custom {
        color: #000; /* Testo nero */
        background-color: #FFD180; /* Colore arancione personalizzato */
        border-color: #000; /* Colore del bordo */
    }
    .bg-custom{
        background-color: #fcdba2;
    }
    
</style>
<div class="container p-4">

    <div class="d-flex flex-row justify-content-around py-3">
        <h1 class="fs-4 mt-2">Habit Events</h1>
        <a href="{% url 'habits:index' %}" class="btn btn-custom btn-sm m-2">< Overview</a>
    </div>

    {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-2" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% include "habits/habit_event_form.html" %}

    <!-- Visualizzazione degli eventi abituali -->
    <ul class="list-group my-5">
        {% for category, habit_form_dict_list in grouped_habit_events.items %}
        <h6 class="m-2">{{ category }}</h6>
            {% for habit_form_dict in habit_form_dict_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-around">
                    <span class="px-1 habit-event-info">{{ habit_form_dict.habit.habit }} |</span>
                    <span class="px-1 habit-event-info">{{ habit_form_dict.habit.date }} |</span>
                    <span class="px-1 habit-event-info">{{ habit_form_dict.habit.time }} |</span>
                    <span class="px-1 d-none d-md-block habit-event-info">{{ habit_form_dict.habit.location }}</span>
                </div>  
                <div class="d-flex">
                    <button type="button" class="btn btn-custom btn-sm habit-event-info" data-bs-toggle="collapse" data-bs-target="#editForm-{{ habit_form_dict.habit.id }}">Modify</button>
                    <form action="{% url 'habits:delete_habit_event' habit_form_dict.habit.id %}" method="post" class="ms-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm habit-event-info">Delete</button>
                    </form>
                </div>
            </li>
            <div id="editForm-{{ habit_form_dict.habit.id }}" class="collapse mt-2 bg-custom p-1">
                <h6>Modify Habit Event</h6>
                <form action="{% url 'habits:edit_habit_event' habit_form_dict.habit.id %}" method="post">
                    {% csrf_token %}
                    {{ habit_form_dict.form.as_p }} {# Utilizzo il form di modifica corrispondente all'evento abituale #}
                    <button type="submit" class="btn btn-custom btn-sm mx-auto d-block">Save</button>
                </form>
            </div>
            <hr class="my-1">
            {% endfor %}
        {% endfor %}
    </ul>

</div>
<style>
    .habit-event-info {
        font-size: 11px; /* Imposta la dimensione del carattere di base */
    }

    /* Media query per schermi più grandi */
    @media (min-width: 768px) {
        .habit-event-info {
            font-size: 18px; /* Modifica la dimensione del carattere per schermi più grandi */
        }
    }
</style>
{% endblock %}
