<!-- habits/templates/habits/overview.html -->

{% extends 'website/base.html' %}

{% block title %}Overview{% endblock title %}

{% block content %}


    <div class="container p-2">
        {% include "habits/navbar.html" %}

        <div class="">
            <a href="{% url 'habits:test' start_date='2024-01-01' end_date='2024-02-03' %}" class="btn btn-custom btn-sm">click me</a>
        </div>

       
        <div class="d-flex flex-row p-2 justify-content-around" >
            <h1 class="flex-grow-1">Overview</h1>
            <button class="btn btn-custom btn-sm m-1" data-bs-toggle="collapse" href="#reportForm" role="button" aria-bs-expanded="false" aria-bs-controls="reportForm">
                Create Report
            </button>
            <button type="button" class="btn btn-custom btn-sm m-1" data-bs-toggle="modal" data-bs-target="#EventModal">
                <i class="fa-solid fa-plus"></i> Event
            </button>
        </div>


        <!-- Modal Event-->
        <div class="modal fade" id="EventModal" tabindex="-1" aria-labelledby="EventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EventModalLabel">Create new event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <div class="modal-body">
                    <!-- Il tuo form va qui -->
                    <div class="d-flex justify-content-center flex-column m-3 mt-3 p-3 bg-custom rounded">
                    <form action="{% url 'habits:create_habit_event' %}" method="post">
                        {% csrf_token %}
                        {{ habit_event_form.as_p }}
                        <button type="submit" class="btn btn-custom btn-sm mx-auto d-block">Create</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="collapse text-center" id="reportForm">
            <div class="card card-body">
                <form method="post" action="{% url 'habits:create_report' %}" class="form">
                {% csrf_token %}
                <div class="form-group m-1">
                    {{ report_form.habit.label_tag }}
                    {{ report_form.habit }}
                </div>
                <div class="form-group m-1">
                    {{ report_form.start_date.label_tag }}
                    {{ report_form.start_date }}
                </div>
                <div class="form-group m-1">
                    {{ report_form.end_date.label_tag }}
                    {{ report_form.end_date }}
                </div>
                <button type="submit" class="btn btn-custom">Generate Report</button>
                </form>
            </div>
        </div>

        <div class="container app-section">
            <div class="row">
                <div class="col-6 mx-auto text-start">
                    <h5 class="mb-4">Yesterday events:</h5>
                    {% for event in events_of_yesterday %}
                        <div class="mb-0">
                            <span class="fw-bold">{{ event.habit }}</span> - {{ event.time }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-6 mx-auto text-start">
                    <h5 class="mb-4">Today events:</h5>
                    {% for event in events_of_today %}
                        <div class="mb-0">
                            <span class="fw-bold">{{ event.habit }}</span> - {{ event.time }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <!-- Primo grafico (pie chart) -->
                        {{ pie_chart_html|safe }}
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="mb-4">
                        <!-- Secondo grafico (heatmap) -->
                        {{ heatmap_html|safe }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
{% endblock %}




