<!-- habits/templates/habits/overview.html -->

{% extends 'website/base.html' %}

{% block title %}Overview{% endblock title %}

{% block content %}


    <div class="container p-2">
        {% include "habits/navbar.html" %}

       
        <div class="d-flex flex-row p-2 justify-content-between" >
            <h1>Overview</h1>
            <button type="button" class="btn btn-custom btn-sm m-1" data-bs-toggle="modal" data-bs-target="#EventModal">
                <i class="fa-solid fa-plus"></i> Event
            </button>
        </div>


        <!-- Modal Event-->
        <div class="modal fade" id="EventModal" tabindex="-1" aria-labelledby="EventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EventModalLabel">Create new event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                </div>
                <div class="modal-body">
                    <!-- Il tuo form va qui -->
                    <div class="d-flex justify-content-center flex-column m-3 mt-3 p-3 bg-custom rounded">
                    <form action="{% url 'habits:create_habit_event' %}" method="post">
                        {% csrf_token %}
                        {{ habit_event_form.as_p }}
                        <button type="submit" class="btn btn-custom btn-sm mx-auto d-block">Create</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="container app-section">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h5 class="mb-4">Today events:</h5>
                    {% for event in events_of_today %}
                        <div class="mb-0">
                            <span class="fw-bold">{{ event.habit }}</span> - {{ event.time }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
                
        <div class="d-flex flex-column flex-md-row mt-3">
            <div class="col-md-6 col-12 m-2">
                <h2 class="my-1">Categories</h2>
                <div class="accordion mb-5 p-4" id="accordionCategory">
                    {% for category, habits in categories_and_habits.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{category.id}}">
                            <button class="accordion-button d-flex justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{category.id}}" aria-expanded="true" aria-controls="collapse{{category.id}}">
                                <i class="col mt-2 {{ category.icon }}"></i>
                                <span class="col fs-5">{{ category.name }}</span>
                                <span class="col ms-2" style="width:120px; height: 30px; background-color:{{category.color}}; display: inline-block;"></span>
                            </button>
                        </h2>
                        {% for habit in habits%}
                        <div id="collapse{{category.id}}" class="accordion-collapse collapse " aria-labelledby="heading{{category.id}}" data-bs-parent="#accordionCategory">
                            <div class="accordion-body d-flex flex-column justify-content-around">
                                <h5 class="col fs-5 text-center">{{ habit.name }}</h5>
                                <form class="d-flex flex-column" hx-get="{% url 'habits:show_graph' habit.id %}" hx-target="#graphContainer" hx-swap="innerHTML">
                                    <input type="date" id="start_date" name="start_date">
                                    <input type="date" id="end_date" name="end_date">
                                    <button type="submit" class="btn btn-custom">Show Graph</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 col-12 m-2 p-2">
                <div id="graphContainer" class="" >
                    
                </div>                
            </div>
        </div>
    </div>
    
    
{% endblock %}




