<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Template</title>
</head>
<body>
    <div>type of time column: {{type}}</div>
    <div>type of time column first place: {{type_o}}</div>
    <div>minutes from midnight: {{from_mid}}</div>
    <div>minute: {{convert_test_minute}}</div>
    <div>hour: {{convert_test_hour}}</div>
    
    <div>
        {{ df|safe }}
    </div>
    <div>
        {{ df1|safe }}
    </div>
    <div>
        {{ df2|safe }}
    </div>
    <div>
        {{ df3|safe }}
    </div>
    
</body>
</html>
